@charset "UTF-8";

body {
    background-color:rgb(103, 88, 189); font-family: Arial, Helvetica, sans-serif; font-size: 20px;  
}

h1 {
    color: blue; background-color: aqua;
}

h2 {
    color: crimson;
}

p {
    text-align: justify;
}